<div class="mt-4 d-flex">
    <img class="rounded-circle photo-size-comment" alt="avatar1" src="{{imgSrc}}" />
    <div class="d-flex flex-column reply-input">
      <textarea *ngIf="replyEdit" class="form-control" (keyup)="checkReplySpace()"
        [(ngModel)]="reply">{{reply}}</textarea>
  
      <div *ngIf="!replyEdit" class="card box-color">
        <div class="text-margin bold">
          {{name}}
        </div>
        <div class="text-margin mb-2" id="comment-content">
          {{reply}}<span *ngIf="edited" style="color:rgb(158, 158, 158)"> (Edited)</span>
        </div>
  
      </div>
      <div *ngIf="!replyEdit" class="d-flex mb-2">
        <div class="mt-2 triangle"
          [ngStyle]="darkBackgroundHover || darkBackgroundClick ? {'background-color': 'rgb(97, 94, 94)'} : {'background-color': 'rgb(231, 219, 219)'}"
          (click)="toggleUpvoteBackground()" (mouseover)='hoverIn()' (mouseout)='hoverOut()' style="margin-left:10px">
        </div>
        <div class="upvote-num">{{numberOfUpcount}}</div>
  
        <div *ngIf="!replyEdit" class="hover-button ms-3 mt-1" (click)="addReply()"> Reply </div>
        <div *ngIf="!replyEdit && name==currentName" class="hover-button ms-3 mt-1" (click)="deleteReply()"> Delete </div>
        <div *ngIf="!replyEdit && name==currentName" class="hover-button ms-3 mt-1" (click)="enableEdit()"> Edit </div>
  
  
      </div>
      <div *ngIf="replyEdit" class="d-flex mt-1">
        <button type="button" [disabled]='disableEditButtons' class="btn btn-primary btn-sm post-padding ms-1 mt-1"
          (click)="saveReply()">Save</button>
        <button type="button" [disabled]='disableEditButtons' class="btn btn-primary btn-sm post-padding ms-2 mt-1"
          (click)="cancelEdit()">Cancel</button>
      </div>
    </div>
  </div>
