<div class="ms-4"> <div>
</div>
<div class="mb-3 mt-3 row">
  <img class="rounded-circle photo-size" alt="avatar1" src="assets/images/my_photo.jpeg" />
  <div class="d-flex flex-column comment-input">
    <input (keyup)="checkCommentSpace()" [(ngModel)]= "comment" placeholder="Add a comment..." class="form-control" id="comment">
    <div class="mt-2">
    <button type="button" [disabled]='disablePost' class="btn btn-primary btn-sm post-padding" (click)="addComment()">Post</button>
  </div>
  </div>
    <div *ngFor="let item of allComments">
      <app-comment (emitUniqueId)="deleteComment($event)" [commentItem]='item'></app-comment>
    </div>
</div>
